
ul.navbar{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #59001C;
    display: flex;
    top: 0;
    position: sticky;
    height: 40px;
    border-radius: 25px;
    padding: 20px;
}

ul.navbar li a{
    display: block;
    color: #C1C1BD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover{
    color: white;
    text-decoration: double;
    background-color: black;
    height: 40px;
    border-radius: 25px;
}

ul.navbar li a.active{
    background-color: black;
    height: 40px;
    border-radius: 25px;
}

